body, html{


	background: url("https://assets.afcdn.com/recipe/20140606/23042_w1024h768c1cx2144cy1424.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

label {
    font-size: 6rem;
	color:rgb(51, 113, 255);
    padding-right: 10px;
}

select {
    font-size: 3rem;
    padding: 2px 5px;
}

option {
	font-size: 3rem;
    padding: 2px 5px;
}


